/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2020, 7:16:11 PM
    Author     : supun chandimal
*/

#r_header{
    text-align: center;
    margin-top:3%;
}

.con_form{
    margin-top:5%;
}